{% extends "views/layouts/base.njk" %}

{% block body %}
  <section class="section">
    <div class="container">
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Cantidad de canciones</p>
            <p class="title">{{ songsLength }}</p>
          </div>
        </div>
      </nav>
    </div>
  {% if lastAddedSong %}
      <section class="hero">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div class="column">
              <h1 class="title has-text-centered">Última cancion agregada</h1>
              <div style="display: flex; justify-content: center;">
                <div class="card has-text-centered">
                  <div class="card-image">
                    <figure class="image" style="width: 350px; height: 350px;">
                      <img src="{{ lastAddedSong.cover if lastAddedSong.cover else '/img/no-cover-available.avif' }}" alt="song-cover" style="width: 100%; height: 100%;">
                    </figure>
                  </div>
                  <div class="card-content" style="width: 350px;">
                    <p class="title is-3">{{ lastAddedSong.title }}</p>
                    <p class="subtitle is-4">{{ lastAddedSong.albumTitle }}</p>
                    <p class="title is-6">{{ lastAddedSong.artist }}</p>
                    <p class="subtitle is-7">{{ lastAddedSong.year }}</p>
                    <audio controls data-role="audio-player" src="{{ lastAddedSong.audioFile if lastAddedSong.audioFile }}" alt="song-audio"></audio>
                    <p><strong>Creado: </strong>{{ lastAddedSong.createdAt }}</p>
                    <p><strong>Actualizado: </strong>{{ lastAddedSong.updatedAt }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  {% endif %}
{% endblock %}