{% extends "views/layouts/base.njk" %}

{% block stylesheets %}
  <link rel="stylesheet" href="/css/manage.css">
  <link rel="stylesheet" href="/css/lyrics.css">
{% endblock %}

{% block body %}
  <section class="section">
    <div class="container">
      <h1 class="title">Hay {{ songs.length }} cancion/es.</h1>
      <table class="table align-middle">
        <div class="tile is-parent" style="display: inline-block;">
            {% for song in songs  | sort(attribute='title') %}
              {% include "song/views/layouts/table-row.njk" %}
            {% endfor %}
        </div>
      </table>
    </div>
  </section>
{% endblock %}

{% block footerScripts %}
  <script type="text/javascript" src="/js/toggle-delete-modal.js"></script>
  <script type="text/javascript" src="/js/toggle-lyrics-modal.js"></script>
{% endblock %}