<nav class="navbar is-warning" role="navigation" aria-label="main navigation">
  <div class="navbar-title">
    <a class="navbar-item" href="/">
      <strong>My Songs</strong>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">

      <a class="navbar-item" href="/album/manage">
        Gestionar albums
      </a>

      <a class="navbar-item" href="/song/manage">
        Gestionar canciones
      </a>

      <a class="navbar-item" href="/song/add">
        Agregar canciones
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Más
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="https://github.com/tzipi-bobek/music-reproductor/issues/new">
            Reportar un problema
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>