{% extends "views/layouts/base.njk" %}

{% block stylesheets %}
  <link rel="stylesheet" href="/css/img.css">
{% endblock %}

{% block body %}
  <section class="section">
    <div class="container">
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Cantidad de Albums</p>
            <p class="title">{{ albumsLength }}</p>
          </div>
        </div>
      </nav>
    </div>
  {% if lastAddedAlbum %}
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div>
              <h1 class="title has-text-centered">Último album agregado</h1>
              <table class="table">
                <div class="card is-centered" style="display: inline-block;">
                  <div class="card-image">
                    <figure class="image" style="width: 350px; height: 350px;">
                      <img src="{{ lastAddedAlbum.cover if lastAddedAlbum.cover else '/img/no-cover-available.avif' }}" alt="song-cover" style="width: 100%; height: 100%;">
                    </figure>
                  </div>
                  <div class="card-content" style="width: 350px;">
                    <p class="title is-3">{{ lastAddedAlbum.title }}</p>
                    <p class="subtitle is-4">{{ lastAddedAlbum.artist }}</p>
                    <p class="title is-7">{{ lastAddedAlbum.year }}</p>

                    <p><strong>Creado: </strong>{{ lastAddedAlbum.createdAt }}</p>
                    <p><strong>Actualizado: </strong>{{ lastAddedAlbum.updatedAt }}</p>
                  </div>
                </div>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
  </section>
{% endblock %}