{% extends "views/layouts/base.njk" %}

{% block stylesheets %}
  <link rel="stylesheet" href="/css/manage.css">
  <link rel="stylesheet" href="/css/img.css">
{% endblock %}

{% block body %}
  <section class="section">
    <div class="container">
      <h1 class="title">Hay {{ albums.length }} album/s.</h1>
      <div class="columns is-multiline is-centered">
        
          <table class="table">
            <tbody>
              {% for album in albums %}
                {% include "album/views/layouts/table-row.njk" %}
              {% endfor %}
            </tbody>
          </table>
        
      </div>
    </div>
</section>
{% endblock %}
