{% extends "views/layouts/base.njk" %}

{% block body %}
{% for album in albums | reverse %}
<div class="card">
  <div class="card-image">
    <figure class="image is-square">
      <img src="{{ album.cover if album.cover else '/img/no-cover-available.avif' }}" alt="album-cover">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">>
      <div class="media-content">
        <p class="title is-4">{{ album.title }}</p>
        <p class="subtitle is-6">{{ album.artist }}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}


  <section class="section is-light">
    <div class="album-data"
      data-id="{{ album.id }}"
      data-title="{{ album.title }}"
      data-artist="{{ album.artist }}"
      data-year="{{ album.year }}"
      >
      <div class="container">
        <div class="media-content">
          <h1 class="title is-1">{{ album.title }}</h1>
          <h2 class="subtitle is-4">{{ album.artist }}</h2>
          <h3 class="title is-6">{{ album.year }}</h3>
        </div>
          {% include "album/views/layouts/songs-table.njk" %}
      </div>
    </div>
  </section>
{% endblock %}
