{% extends "views/layouts/base.njk" %}

{% block body %}
{% for album in albums | reverse %}
<div class="card">
  <div class="card-image">
    <figure class="image is-square">
      <img src="{{ album.cover if album.cover else '/img/no-cover-available.avif' }}" alt="album-cover">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">>
      <div class="media-content">
        <p class="title is-4">{{ album.title }}</p>
        <p class="subtitle is-6">{{ album.artist }}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}


  <section class="section is-light">
    <div class="album-data"
      data-id="{{ album.id }}"
      data-title="{{ album.title }}"
      data-artist="{{ album.artist }}"
      data-year="{{ album.year }}"
      >
      <div class="container">
        <div class="columns">
          <div class="column">
            <h1 class="title">
              {{ album.title }}
              {{ album.artist }}
              {{ album.year }}
            </h1>
          </div>
          <div class="column">
            {% include "album/views/layouts/songs-table.njk" %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
