<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <form class="modal-form" method="POST">
      <header class="modal-card-head">
        <p class="modal-card-title">Borrar cancion</p>
        <button class="cancel-delete-button" type="button" aria-label="close"></button>
      </header>
      <section class="modal-card-body modal-content"><!-- --></section>
      <footer class="modal-card-foot">
        <button class="button is-danger">Borrar</button>
        <button class="button cancel-delete-button" type="button">Cancelar</button>
      </footer>
    </form>
  </div>
</div>