{% block stylesheets %}
  <link rel="stylesheet" href="/css/img.css">
{% endblock %}

<form method="POST" action="/song/save" enctype="multipart/form-data">
    {% if song %}
        <input type="hidden" name="id" value="{{ song.id }}">
    {% endif %}
    <div class="columns">
        <div class="column is-two-thirds">
            <div class="field">
                <label class="label">Título</label>
                <div class="control">
                    <input required class="input" type="text" name="title" 
                           value="{{ song.title if song }}">
                </div>
            </div>
            <div class="field">
                <label class="label">Album Titulo</label>
                <div class="control">
                    <input required class="input" type="text" name="album-title" 
                           value="{{ song.albumTitle if song }}">
                </div>
            </div>
            <div class="field">
                <label class="label">Artista</label>
                <div class="control">
                    <input required class="input" type="text" name="artist" placeholder="Taylor Swift"
                           value="{{ song.artist if song }}">
                </div>
            </div>
            <div class="field">
                <label class="label">Artista del Album</label>
                <div class="control">
                    <input required class="input" type="text" name="album-artist" placeholder="Taylor Swift"
                           value="{{ song.albumArtist if song }}">
                </div>
            </div>
            <div class="field">
                <label class="label">Compositor/a</label>
                <div class="control">
                    <input required class="input" type="text" name="compositor" placeholder="Taylor Swift"
                           value="{{ song.compositor if song }}">
                </div>
            </div>
            <div class="field">
                <label class="label">Género</label>
                <div class="control">
                    <input required class="input" type="text" name="genre" 
                           value="{{ song.genre if song }}">
                </div>
            </div>
            <div class="field">
                <label class="label">Letras</label>
              <div class="control">
                <textarea class="textarea" name="lyrics"
                        value="{{ song.lyrics if song }}">{{ song.lyrics }}</textarea>
              </div>
            </div>
           <div class="field">
                <label class="label">Letrista</label>
                <div class="control">
                    <input required class="input" type="text" name="lyricist" placeholder="Taylor Swift"
                           value="{{ song.lyricist if song }}">
                </div>
            </div>
            <div class="field">
                <label class="label">Número De Pista</label>
                <div class="control">
                    <input required class="input" type="number" min="0" name="track-number" 
                            value="{{ song.trackNumber if song }}">
                </div>
            </div>
            <div class="field">
                <label class="label">Año</label>
                <div class="control">
                    <input required class="input" type="number" min="0" name="year" 
                            value="{{ song.year if song }}">
                </div>
            </div>
            <div class="field">
                <label class="label">Comentario</label>
              <div class="control">
                <textarea class="textarea" name="comment"
                        value="{{ song.comment if song }}">{{ song.comment }}</textarea>
              </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link" type="submit">Guardar</button>
                </div>
                <div class="control">
                    <button class="button is-link is-light cancel-button" type="button">Cancelar</button>
                </div>
            </div>
        </div>
        <div class="column">
            {% if noEsPaginaDeEdicion %}
            <input type="hidden" name="audioFile" value="{{ song.audioFile }}">
            <div class="field">
                <label class="label">Cancion</label>
                <audio id="audio-player" controls data-role="audio-player" alt="song-audio">
                  <source src="{{ song.audioFile if song.audioFile }}">
                </audio>
                <div class="control">
                  <input id="audio-input" required class="input" type="file" name="song-audio"
                        value="{{ song.audioFile if song }}">
                </div>
            </div>
            {% endif %}
            <input type="hidden" name="cover" value="{{ song.cover }}">
            <div class="field">
                <label class="label">Cover</label>
                <img id="cover-preview" src="{{ song.cover if song.cover else '/img/no-cover-available.avif' }}" alt="song-cover">
                <div class="control">
                  <input id="cover-input" class="input" type="file" name="song-cover"
                        value="{{ song.cover if song }}">
                </div>
            </div>
        </div>
    </div>
</form>

{% block footerScripts %}
  <script type="text/javascript" src="/js/toggle-imput-cover.js"></script>
{% endblock %}