<tr class="song-data"
data-id="{{ song.id }}"
data-title="{{ song.title }}"
data-artist="{{ song.artist }}"
data-year="{{ song.year }}"
>
  <th>
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-100x100">
            <img src="{{ song.cover if song.cover else '/img/no-cover-available.avif' }}" alt="song-cover" style="width: 100px; height: 100px; object-fit: cover;">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{ song.title }}</strong> <small>{{ song.artist }}</small> <small>{{ song.year }}</small>
              <br>
              <br>
              <audio controls data-role="audio-player" src="{{ song.audioFile if song.audioFile }}" alt="song-audio"></audio>
              <a class="button" href="{{"/song/view/" + song.id}}">
                <span class="icon">
                  <i class="fas fa-search has-text-black"></i>
                </span>
              </a>
              <a class="button" href="{{"/song/edit/" + song.id}}">
                <span class="icon">
                  <i class="fas fa-edit has-text-black"></i>
                </span>
              </a>
              <button class="button delete-button">
                <span class="icon">
                  <i class="fas fa-trash"></i>
                </span>
              </button>
              {% include "song/views/layouts/delete-modal.njk" %}
            </p>
          </div>
        </div>
      </article>
    </div>
  </th>
</tr>