<div class="tile is-parent">
  <article class="tile is-child notification is-info is-light">
    <div class="content">
      <p class="title">Canciones</p>
      <div class="content">
          <table class="table align-middle">
            <thead>
              <tr>
                <th>ID</th>
                <th>Titulo</th>
                <th>Artista</th>
                <th>Año</th>
                <th>Cancion</th>
                <th>Cover</th>
              </tr>
            </thead>
            <tbody>
              {% for song in songs | reverse %}
                <tr>
                  <th>
                    <a href="{{ "/song/view/" + song.id }}">{{ song.id }}</a>
                  </th>
                  <td>{{ song.title }}</td>
                  <td>{{ song.artist }}</td>
                  <td>{{ song.year }}</td>
                  <td><audio controls data-role="audio-player" data-src="{{ song.audioFile if song.audioFile }}" alt="song-audio">
                    <source src="{{ song.audioFile }}">
                  </audio></td>
                  <td><img src="{{ song.cover if song.cover else '/img/no-cover-available.avif' }}" object-fit="cover" alt="song-cover"></td>
                </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </article>
</div>