{% block stylesheets %}
  <link rel="stylesheet" href="/css/img.css">
{% endblock %}

<tr class="album-data"
data-id="{{ album.id }}"
data-title="{{ album.title }}"
data-cover="{{ album.cover }}"
data-year="{{ album.year }}"
>
  <th>{{ album.id }}</th>
  <td>{{ album.title }}</td>
  <td>{{ album.artist }}</td>
  <td>{{ album.year }}</td>
  <td>{{ album.songNumber }}</td>
  <td><img src="{{ album.cover if album.cover else '/img/no-cover-available.avif' }}" alt="song-cover"></td>
  <td>
    <a class="button" href="{{"/album/view/" + album.id}}">
      <span class="icon">
        <i class="fas fa-search has-text-black"></i>
      </span>
    </a>
  </td>
</tr>